#wheel {
padding: 90px;
position: center;
transition: all 5s forwards;
}
 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.bottom{
  padding: 90px;
  position: center;
}
h1 {
  display: inline-block;
  padding: 14px 50px;

}
#spin-btn {
  display: block;
  width: 50%;
  border: none;
  background-color: #FFE333;
  padding: 14px 15px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 5px;
}
#spin-btn:hover {opacity: 1
}
#Cash-out {
  display: block;
  width: 20%;
  border: none;
  background-color: #32a852;
  padding: 14px 15px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 5px;
}
#Cash-out:hover {opacity: 1}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#Reset{
display: block;
width: 20%;
border: none;
background-color: #9C0B0B;
padding: 14px 15px;
font-size: 30px;
cursor: pointer;
text-align: center;
opacity: 0.6;
transition: 0.3s;
border-radius: 5px;
}
#Reset:hover {opacity: 1}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 
 
