#wheel {
padding: 90px;
position: center;
/**animation-name: spin;

animation-iteration-count: infinite;
animation-timing-function: linear; 
 }**/
  transition: all 5s forwards;
}
 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.bottom{
  padding: 90px;
  position: center;
}
h1 {
  display: inline-block;
}
